body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    background-color: #ebee6a;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding: 0.3em 0.2em;

}

.burger-icon {
    display: none;
    font-size: 2em;
}

/* Bildschirmgrosse */







/* handy */
@media (max-width: 767px) {

    .burger-icon {
        display: block;
    }

    nav {
        justify-content: space-between;
    }

    .content img {
        width: 30em;
        height: auto;
        object-fit: cover;
        display: block;
    }

    .menu {
        display: none;
    }

    .content1 img,
    .content2 img,
    .content3 img{
        width: 10em;
        height: 10em;
        object-fit: cover;
        border-radius: 1em;


    }

    .content1,
    .content2,
    .content3 {
        display: flex;
        justify-content: space-between;
        padding: 1.5em;
        gap: 1em;
         align-items: center;


    }

    .content1 p,
    .content2 p,
    .content3 p {
        text-align: justify;
    }

    footer {
        background-color: #ebee6a;
        padding: 0.4em 0.4em;
        text-align: center;
    }
    .content4
    {
           display: flex;
           flex-direction: column;
            text-align: center;
    }
        .content4 img 
    {
             width: 20em;
        height: 10em;
        object-fit: cover;
        border-radius: 1em;
    }

}