body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
     justify-content: space-between;
    padding: 0.5em 1em;
    background-color: #2C3E50;
    list-style: none;
}
.logo-menu img
{
    width: 80%;
    height: auto; 
}
.menu a {
    text-decoration: none;
    color: #ECF0F1;
    font-size: 1.2em;
    padding: 0.3em 0.2em;

}

.burger-icon {
    display: none;
    font-size: 2em;
}

/* Bildschirmgrosse */

.content img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

  .content1 img,
    .content2 img,
    .content3 img{
     
        width: 70%;
        height: 70%;
        object-fit: cover;
        border-radius: 1em;
        border: 1px solid #D1C7BD;


    }
.content1 div
{
   flex: 1;
}
.content1,
    .content2,
    .content3 {
        display: flex;
        justify-content: space-between;
           align-items: center; 
        padding: 1.5em;
        gap: 1em;
      


    }

    .content1 p,
    .content2 p,
    .content3 p {
         font-size: 180%;
        text-align: justify;
        color: #333333;
    }

    footer {
        background-color: #2C3E50;
        padding: 0.4em 0.4em;
        text-align: center;
    }
    .content4
    {
           display: flex;
           flex-direction: column;
            text-align: center;
    }
        .content4 img 
    {
             width: 60%;
        height: 50%;
        object-fit: cover;
        border-radius: 1em;
    }


/* handy */
@media (max-width: 767px) {

    .burger-icon {
        display: block;
    }
.logo-menu img
{
    width: 50%;
    height: auto; 
}
    nav {
        justify-content: space-between;
    }

    .content img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

    .menu {
        display: none;
    }

    .content1 img,
    .content2 img,
    .content3 img{
        width: 10em;
        height: 10em;
        object-fit: cover;
        border-radius: 1em;
   border: 1px solid #D1C7BD;

    }

    .content1,
    .content2,
    .content3 {
        display: flex;
        justify-content: space-between;
           align-items: center; 
        padding: 1.5em;
        gap: 1em;
      


    }

    .content1 p,
    .content2 p,
    .content3 p {
         color: #333333;
         font-size: 80%;
        text-align: justify;
    }

    footer {
        background-color: #2C3E50;
        padding: 0.4em 0.4em;
        text-align: center;
    }
    .content4
    {
           display: flex;
           flex-direction: column;
            text-align: center;
    }
        .content4 img 
    {
         width: 70%;
        height: 40%;
        object-fit: cover;
        border-radius: 1em;
    }

}